body {
    background: #fdfbf7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.newspaper {
    width: 900px;
    margin: 30px auto;
     background: #e5e5e5;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.category {
    text-align: center;
    background: #b84a3a;
    color: white;
    padding: 8px;
    font-weight:bolder;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    margin: 20px 0 5px;
}

.meta {
    text-align: center;
    font-style: italic;
    color: #555;
}

.intro {
    text-align: justify;
    margin: 20px 0;
}

.content {
    display: flex;
    gap: 20px;
}

.left, .right {
    width: 50%;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.tips {
    background: #f0f0f0;
    padding: 10px;
    margin-top: 15px;
}

blockquote {
    margin-top: 30px;
    padding: 15px;
    background: #eee;
    font-style: italic;
    text-align: center;
    border-left: 5px solid #b84a3a;
}
